.section-header {
  width: 100%;
  min-height: 1px;
  background-color: $gray-bg;
  // opacity: 0;
  &__title {
    h2 {
      font-family: "TTLakes-b";
      font-size: 28px;
      line-height: 40px;
      letter-spacing: -0.6px;
      color: #1b1c21;
      position: relative;
      display: block;
      margin: 24px 0 0 15px;
      @media (min-width: 1119.9px) {
        display: none;
      }
      &:before {
        content: "";
        border-left: 4px solid #41f6d7;
        border-radius: 2px;
        height: 40px;
        position: absolute;
        top: 0;
        left: -15px;
      }
    }
  }
}
.header-text.active {
  display: block;
}
.section-nav {
  @media (max-width: 1119.9px) {
    margin-top: 32px;
  }
  &__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    display: -moz-flex;
    flex-wrap: wrap;
    margin-left: 30px;
    @media (max-width: 1399.9px) {
      justify-content: center;
    }
    @media (max-width: 1119.9px) {
      justify-content: flex-start;
    }
    @media (max-width: 1050.9px) {
      justify-content: center;
    }
    @media (max-width: 404.9px) {
      margin-left: 0;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
    li {
      height: 40px;
      border: 2px solid transparent;
      margin-left: -8px;
      display: inline-block;
      @media (max-width: 480px) {
        margin-bottom: 5px;
      }
    }
  }

  &__link {
    color: $gray;
    transition: 0.4s all ease 0s;
    padding: 8px 18px;
    border: 2px solid transparent;
    @media (max-width: 479.9px) {
      font-size: 18px;
    }
    &:hover {
      background: #ffffff;
      border: 2px solid #b8ffec;
      box-sizing: border-box;
      border-radius: 6px;
    }
  }
}
.section-items {
  display: flex;
  // flex-direction: column;
  margin: 19px 20px 0 26px;
  @media (min-width: 767.9px) {
    // flex-direction: row;
    margin-top: 19px;
  }
  @media (max-width: 767.9px) {
    flex-direction: column;
  }
  &__text {
    flex: 0 1 50%;
    padding-right: 15px;
    @media (min-width: 767.9px) {
      flex: 0 1 490px;
    }
    p {
      display: inline-block;
      font-family: "TTLakes-r";
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $darck;
      padding: 0 0 0 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      margin-top: 0;
      padding: 0;
      @media (min-width: 767.9px) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-top: 0;
        padding: 0;
      }
      @media (max-width: 479.9px) {
        font-size: 18px;
      }
    }
    span {
      margin-top: 32px;
      display: block;
      font-family: "TTLakes-r";
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $darck;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      @media (min-width: 991.9px) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
      @media (max-width: 767.9px) {
        display: none;
      }
      @media (max-width: 479.9px) {
        font-size: 18px;
      }
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin: 16px 20px;
    background: transparent;
    &:before {
      content: "";
      width: 24px;
      height: 24px;
      background: url("../img/icons/expand.svg") no-repeat center;
      position: absolute;
      top: 0;
      left: 0;
    }
    @media (min-width: 767.9px) {
      margin: 14px 0 0 0;
    }
  }
  &__img {
    flex: 0 1 50%;
    margin-left: 0px;
    img {
      width: 100%;
      border-radius: 5px;
    }
    @media (min-width: 767.9px) {
      flex: 0 1 530px;
      margin-left: 15px;
    }
  }
}
